<nav class="header">
  <div class="nav">
    <ul class="nav-list">
      <li>
        <a href="#" class="tmdb-logo">
          <img src="./../../assets/tmdb-short.svg" alt="tmdb-logo" />
        </a>
      </li>
      <li>Movies</li>
      <li>TV Shows</li>
      <li>People</li>
      <li>More</li>
    </ul>
    <ul class="nav-list">
      <li>
        <img class="nav-icon" src="./../../assets/plus-solid.svg" alt="add" />
      </li>
      <li>
        <img
          class="nav-icon"
          src="./../../assets/magnifying-glass-solid.svg"
          alt="search"
        />
      </li>
    </ul>
  </div>
</nav>
