<nav class="footer">
  <div class="footer-container">
    <div class="tmdb-logo">
      <img src="./../../assets/tmdb-full.svg" alt="tmdb-logo" />
      <div class="user-greeting">
        <div class="greeting-box">Hi sanket_96!</div>
      </div>
    </div>
    <div class="footer-links">
      <div class="column">
        <h3>THE BASICS</h3>
        <ul>
          <li>
            <a href="#">About TMDB</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="#">Suport Forums</a>
          </li>
          <li>
            <a href="#">API</a>
          </li>
          <li>
            <a href="#">System Status</a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h3>GET INVOLVED</h3>
        <ul>
          <li>
            <a href="#">Contribution Bible</a>
          </li>
          <li>
            <a href="#">Add New Movie</a>
          </li>
          <li>
            <a href="#">Add New TV Show</a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h3>COMMUNITY</h3>
        <ul>
          <li>
            <a href="#">Guidelines</a>
          </li>
          <li>
            <a href="#">Discussions</a>
          </li>
          <li>
            <a href="#">Leaderboard</a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h3>LEGAL</h3>
        <ul>
          <li>
            <a href="#">Terms of Use</a>
          </li>
          <li>
            <a href="#">API Terms of Use</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">DMCA Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
